<!doctype html>
<html lang="en">
  <head>
    <title>Add page</title>
  </head>

  <body>
    <h1>Add citation:</h1>
    <form method="POST" action="/book">
      {{ form.hidden_tag() }}
      {{ form.cite }}
      {{ form.author }}
      {{ form.title }}
      {{ form.year }}
      {{ form.publisher }}
      {{ form.volume }}
      {{ form.series }}
      {{ form.address }}
      {{ form.edition }}
      {{ form.month }}
      {{ form.note }}
      {{ form.key }}
      {{ form.url }}
      <button type="submit">Submit</button>
    </form>
  </body>
</html>