<!doctype html>
<html lang="en">
	<head>
		<link href="{{ url_for('static', filename= 'style.css')}}" rel="stylesheet">
		<title>Citations</title>
	</head>

	<body>
		<h1>List of citations</h1>
		<a href="/">Return to the home page</a><br/><br/>
		<button id=select_all onclick="selectAll()">Select all</button>
		<button id=deselect_all onclick="deselectAll()">Deselect all</button>
		<table>
			<thead>
				<tr>
					<th>#</th>
					<th>Entry type</th>
					<th>cite_as</th>
					<th>Title</th>
					<th>Author</th>
					<th>Year</th>
				</tr>
			</thead>
			<tbody>
				{% for citation in citation_list %}
				<tr>
					<th><input type="checkbox" name="selection" value={{ citation.cite_as  }}></th>
					<th>{{ citation.entryname }}</th>
					<th>{{ citation.cite_as }}</th>
					{% for fieldtype in citation.fieldtypes %}
						{% if fieldtype[0] == "title" %}
							<th>{{ fieldtype[1] }}</th>
						{% elif fieldtype[0] == "author" %}
							<th>{{ fieldtype[1] }}</th>
						{% elif fieldtype[0] == "year" %}
							<th>{{ fieldtype[1] }}</th>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<a href="/new">Add a new citation</a><br/><br/>
		<a href="/citations.bib">Create .bib file</a>


		<!-- Use JS to handle (de)selecting citations-->
		<script>
			// Select all checkboxes with the name 'selection' using querySelectorAll.
			var checkboxes = document.querySelectorAll("input[type=checkbox][name=selection]");
			let selectedCitations = [];

			// Fetch selected citations from cookies
			getSelectionFromCookie();

			// Use Array.forEach to add an event listener to each checkbox.
			checkboxes.forEach(function(checkbox){
				checkbox.addEventListener("change", handleCheckboxClick) } );

			function handleCheckboxClick() {
				if (this.checked) {
					addSelection(this);
				}
				else {
					removeSelection(this);
				}
				updateSelectionCookie();
			}

			function addSelection(checkbox) {
				selectedCitations.push(checkbox.value);

				// Allows us to use the same function for handling input and selecting from script
				checkbox.checked = true;
			}

			function removeSelection(checkbox) {
				for( var i = 0; i < selectedCitations.length; i++){ 
					if ( selectedCitations[i] === checkbox.value ) { 
						selectedCitations.splice(i, 1); 
					}
				}

				// Allows us to use the same function for handling input and selecting from script
				checkbox.checked = false;
			}

			// Update the cookie used to store selected citations
			function updateSelectionCookie() {
				document.cookie = "selection=" + selectedCitations.join(",");
			}

			// Select all visible citations
			function selectAll() {
				selectedCitations = []
				checkboxes.forEach(function(checkbox) {
					addSelection(checkbox);
				});
				updateSelectionCookie();
			}

			// Deselect all visible citations
			function deselectAll() {
				checkboxes.forEach(function(checkbox) {
					checkbox.checked = false;
					// Individually remove selections to account for cases where not all citations are visible
					removeSelection(checkbox);
				});
				updateSelectionCookie();
			}

			function getSelectionFromCookie() {
				let cookies = document.cookie.split(";");
				cookies.forEach(function(cookie) {
					let key_value_pair = cookie.split("=");
					if (key_value_pair[0] === "selection" && key_value_pair.length > 1) {
						selectedCitations = key_value_pair[1].split(",");
					}
				});

				// Use Array.forEach to check already selected citations
				selectedCitations.forEach(function(citation) {
					checkboxes.forEach(function(checkbox) {
						if (checkbox.value === citation) {
							checkbox.checked = true;
						}
					});
				});
			}
		</script>
	</body>
</html>
