<!doctype html>
<html lang="en">
  <head>
    <title>Citations</title>
  </head>
  
  <body>
    <h1>List of citations</h1>
    <a href="/new">Add a new citation</a>
    <br/>
    <a href="/">Return to the home page</a>
    <ul style="list-style: none;">
        {% for citation in citation_list %}
        <li><label><input type="checkbox">
            @{{ citation.entryname }}{ {{ citation.cite_as }},
            <br/>
            {% for fieldtype in citation.fieldtypes %}
            {{ fieldtype[0] }}: { {{ fieldtype[1] }} },
            <br/>
            {% endfor %}
        }
      </label></li>
        <br/>
        {% endfor %}
    </ul>
    <br>
    <a href="/delete" onclick="alert('Are you sure you want to delete selected citation(s)?')">Delete selected citation(s)</a>
    <br/>
    <a href="/citations.bib">Create BIB file</a>
  </body>
</html>
