<!doctype html>
<html lang="en">
  <head>
    <title>Citations</title>
  </head>
  
  <body>
    <h1>List of citations</h1>
    <a href="/new">Add a new citation</a>
    <br/>
    <a href="/">Return to the home page</a>
    <form action="/citations" method="post">
      <input name="keyword" value="{{keyword}}">
      <button type="submit">Search</button>
    </form>
    <ul>
        {% for citation in citation_list %}
        <li>
            @{{ citation.entryname }}{ {{ citation.cite_as }},
            <br/>
            {% for fieldtype in citation.fieldtypes %}
            {{ fieldtype[0] }}: { {{ fieldtype[1] }} },
            <br/>
            {% endfor %}
        }
        </li>
        <br/>
        {% endfor %}
    </ul>
    <br/>
    <a href="/citations.bib">Create BIB file</a>
  </body>
</html>
