<!DOCTYPE html>
<html>
    <head>
        <title>
            Add a new citation
        </title>
    </head>

    <body>
        <h1>
            Add a new citation
        </h1>
        <p> Select an entry type from the options:
            <form action="/new" method="post">
                <select name="entry_type">
                    {% for type in list%}
                    <option value={{type}}>{{type}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Submit">
            </form>
            <br/>
            <a href="/citations">View all citations</a>
        </p>

    </body>
</html>
